html {
	background: no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} 

body {
}
/*background image set to cover 100 no repeat fixed etc??

can i set a min size on api call?

*/
h1 {
	text-align: center;
}

.hide {
  display: none;
}

/*solid rectangle background over photo*/
.data-box {
	text-align: center;
}

.location-box {
	text-align: center;
}

.weather-box {
	text-align: center;
}