html {
	background: no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} 
body {
	background-color: #ffffff;
	opacity: 0.8;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}
h1, p {
	text-align: center;
	color: black;
}
input, select {
	width: 50%;
	font-size: 20px;
	margin: 2.5%;
}
.submit {
	background-color: #8ff442;
	border: none;
}
.hide {
	display: none;
}
.location-box {
	float: right;
}
.location-box p {
	margin: 5%;
}
.weather-box {
	float: left;
}
.weather-box, .location-box {
	height: 100%;
	width: 50%;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	background-color: #ffffff;
  	opacity: 0.8;
  	filter: alpha(opacity=60); /* For IE8 and earlier */
}